doctype html
html
  head
    meta(charset='utf-8')
  body
    h1
      a(href='/topic/') Server Side JavaScript
    ul
      each title in titles
        li
          a(href='/topic/'+title.id)= title.title
    article
      if title
        h2= title.title
        h3= title.description
        = 'by '+title.author
      else
        h2 Welcome
        | This is server side javascript turorial.
    ul
      li
        a(href='/topic/add') add
      if title
        li
          a(href='/topic/'+title.id+'/edit') edit
        li
          a(href='/topic/'+title.id+'/delete') delete
